.jfx-button {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-text-fill: #468c82;
    -fx-border-color: #468c82;
    -fx-font-family: Hack;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.jfx-button:hover {
    -fx-text-fill: white;
    -fx-background-color: #468c82;
}

.drawer-jfxbutton:hover {
    -fx-background-color: #468c82;
    -fx-text-fill: White;
}

.jfx-hamburger {
    -fx-background-color: transparent;
}

.jfx-hamburger StackPane {
    -fx-background-color: #ffffff;
}
